name: ci

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read

jobs:
  python:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: N2O-ConteinerGuard  # <<< работаем внутри твоего каталога
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt -r requirements-dev.txt

      - name: Lint
        run: |
          ruff check app tests

      - name: Test
        run: |
          pytest -q

  docker-build:
    runs-on: ubuntu-latest
    needs: python
    if: ${{ needs.python.result == 'success' }}
    defaults:
      run:
        working-directory: N2O-ConteinerGuard
    steps:
      - uses: actions/checkout@v4

      - name: Build container
        run: |
          docker build -t n2o-guard:ci .
